
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>


<div class="row">
    <ul class="course" style="list-style: none">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.Datetime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.Datetime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @course.LectureName
                    </span>
                    <span class="catelogy">
                        @course.Category.Name
                    </span>
            </li>
        }
    </ul>
</div>